{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Drag and Drop Sortable List | CodingNepal</title>
    <link rel="stylesheet" href="Drag_and_Drop_Sortable_List.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movies/css/drag_movie_staff.css' %}">
    <script src="{% static 'movies/js/drag_movie_staff.js' %}" defer></script>
  </head>
  <body>
    <ul class="sortable-list">

      {% for object in objects %}
      <li class="item" draggable="true">
        <div class="details">
          <img src={{ object.image.url }}>
          <span>{{ object.name }}</span>
        </div>
        <i class="uil uil-draggabledots"></i>
      </li>
      {% endfor %}

  </body>
</html>