{% extends 'movies/movie_layout.html' %}
{% load static %}

{% block my_style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<style>
    main .main-container .title {
        {% comment %} border: 2px solid black; {% endcomment %}
        padding: 7px;
    }
    {% comment %} like dislike styles {% endcomment %}
    .wrapper{
        border: 1px solid black;
        width:310px;
        height: 240px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        background: #3accfd;
        {% comment %} box-shadow: 12px 12px 24px #2a93b6,
                    -12px -12px 24px #4affff; {% endcomment %}
        border-radius: 30px;
      }
      .wrapper h2 {
        font-size: 2.1rem;
        font-family: monospace;
      }
      .like,.dislike,.subscribe{
        display: grid;
        place-items : center;
      }
      .icon{
        margin-top: 70px;
        font-size: 80px;
        color: #0086b3;
        cursor: pointer;
        text-shadow: 5px 8px 15px #2a93b6;
        transition: .5s;
      }
      .icon:hover{
        color: #ba0015;
        transform: scale(1.2);
      }
      
      {% comment %} end like dislike styles {% endcomment %}
      main .main-container .movie-center .image-container {
        border: 2px solid black;
        width: 174px;
        height: 254px;
      }

      main .main-container .movie-center {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center
      }

      .general-info .synopsis {
        margin-top: 20px;
        margin-left: 15px;
        width: 750px;
        text-align: left;
      }

      .general-info .synopsis p {
        font-size: 1.9rem;
        font-family: 'Times New Roman', Times, serif;
      }

      .general-info .staff {
        align-items: center;
        margin-left: 80px;
      }
      .general-info .staff h4 {
        max-width: 250px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.0rem;
        margin-bottom: 5px;
        margin-left: 10px;
      }
      .general-info .staff a {
        margin-left: 7px;
        font-family: 'Arial';
        font-size: 1.6rem;
        color: #090989;
      }
      .general-info .staff a:hover {
        color: #9738ff;
      }

      .cast .actor img{
        border-radius: 50px;
      }
      .cast .actor {
        border: 2px solid black;
        width: 350px;
        margin-bottom: 10px;
        display: flex;
        align-items: center
      }

      .cast{
        border: 2px solid black;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .cast .cast-title{
        margin-bottom: 25px;
      }
      .cast .cast-title h2 {
        color: black;
        font-family: Arial;
        font-size: 3.0rem;
      }
      .cast .actor span{
        margin-left: 20px;
      }
      .cast .actor span a {
        font-size: 2.1rem;
        font-family: Arial;
        color: black;
      }
      .cast .actor span a:hover {
        color: #747474;
      }
      .cast .view-more a h2{
        font-size: 2.3rem;
        font-family: monospace;
        color: black;
      }
      .cast .view-more a h2:hover{
        color: #747474;
      }
</style>
{% endblock my_style %}

{% block movie_content %}

<div class="movie-center"  style="margin-top: 15px">
    <div class="image-container">
        <img src="{{ movie.image.url }}" alt="movie image" width="170px" height="250px">
    </div>

    {% comment %} <form action="{% url 'movies:like_dislike_path' movie_slug movie_pk %}" method="post"> {% endcomment %}
      
        <div class="wrapper">
          <form action="{% url 'movies:like_dislike_path' movie_slug movie_pk %}" method="post">
            {% csrf_token %}
            <div class="like">
                <input type="hidden" name="rate" value="like">
                <button type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">
                  <i onclick="javascript: submit()" class="fas fa-heart icon">
                  </i>

                </button>
                <h2>0</h2>
            </div>
          </form>
          <form action="{% url 'movies:like_dislike_path' movie_slug movie_pk %}" method="post">
            {% csrf_token %}
            <div class="dislike">
              <input type="hidden" name="rate" value="dislike">
              <button type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">
                <i onclick="count1()" class="fas fa-heart-broken icon"></i>
              </button>
                <h2>122</h2>
            </div>
          </form>  
        </div>
    {% comment %} </form> {% endcomment %}

</div>
<br>
<br>
<hr>
<div class="general-info">
  
  <div class="synopsis">
    <p>
      {{ movie.synopsis }}
    </p>
  </div>
  <br>
  <br>
  <hr>
  <br>

  <div class="staff">
    <span>
      <h4>genres</h4>

      {% for genre in movie.genres.all %}
      <a href="">{{genre.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

    <span>
      <h4>Created by</h4>

      {% for creator in created_by %}
      <a href="">{{creator.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

    <span>
      <h4>Directors</h4>

      {% for director in directors %}
      <a href="">{{director.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

    <span>
      <h4>Script</h4>

      {% for creator in script %}
      <a href="">{{creator.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

    <span>
      <h4>Producers</h4>

      {% for creator in producers %}
      <a href="">{{creator.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

    <span>
      <h4>Producer companies</h4>

      {% for company in companies %}
      <a href="">{{company.name}},</a>
      {% endfor %}
    </span>
    <br>
    <br>

  </div>
</div>

<div class="cast">
  <div class="cast-title">
    <h2>Cast</h2>
  </div>
  {% for staff in cast %}
  <div class="actor">
    <img src={{ staff.image.url }} alt="" width="110px" >
    <span>
      <a href="">
        {{ staff.name }}
      </a>
    </span>
  </div>
  {% endfor %}

  {% if cast_len > 5 %}
  <div class="view-more">
    <a href="">
      <h2>View more</h2>
    </a>
  </div>
  
  {% endif %}
</div>



{% endblock movie_content %}