{% extends 'movies/movie_layout.html' %}
{% load static %}

{% block my_style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<style>
    main .main-container .title {
        {% comment %} border: 2px solid black; {% endcomment %}
        padding: 7px;
    }
    {% comment %} like dislike styles {% endcomment %}
    .wrapper{
        border: 1px solid black;
        width:310px;
        height: 240px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        background: #3accfd;
        {% comment %} box-shadow: 12px 12px 24px #2a93b6,
                    -12px -12px 24px #4affff; {% endcomment %}
        border-radius: 30px;
      }
      .wrapper h2 {
        font-size: 2.1rem;
        font-family: monospace;
      }
      .like,.dislike,.subscribe{
        display: grid;
        place-items : center;
      }
      .icon{
        margin-top: 70px;
        font-size: 80px;
        color: #0086b3;
        cursor: pointer;
        text-shadow: 5px 8px 15px #2a93b6;
        transition: .5s;
      }
      .icon:hover{
        color: #ba0015;
        transform: scale(1.2);
      }
      
      {% comment %} end like dislike styles {% endcomment %}
      main .main-container .movie-center .image-container {
        border: 2px solid black;
        width: 174px;
        height: 254px;
      }

      main .main-container .movie-center {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center
      }

      .movie-header {
        border: 2px solid black;
        display: flex;
        flex-direction: block;
      }
      .movie-header .header-item {
        padding: 2px;
        width: 90px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .movie-header .header-item h3 {
        color: #4b4bb5;
        font-family: Arial;
        font-size: 1.7rem;
      }

</style>
{% endblock my_style %}

{% block movie_content %}
<div class="title">
    <h1>{{ movie.name }}</h1>
</div>

<div class="movie-header">
    <div class="header-item">
        <a href="">
            <h3>
                Info
            </h3>
        </a>
    </div>
    <div class="header-item">
        <a href="">
            <h3>
                Reviews
            </h3>
        </a>
    </div>
    <div class="header-item">
        <a href="">
            <h3>
                Trailers
            </h3>
        </a>
    </div>
</div>

<div class="movie-center"  style="margin-top: 15px">
    <div class="image-container">
        <img src="{{ movie.image.url }}" alt="movie image" width="170px" height="250px">
    </div>

    <form action="">
        <div class="wrapper">
            <div class="like">
                <button type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">
                  <i onclick="javascript: submit()" class="fas fa-heart icon">
                  </i>

                </button>
                <h2>0</h2>
            </div>
            <div class="dislike">
              <button type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">
                <i onclick="count1()" class="fas fa-heart-broken icon"></i>
              </button>
                <h2>122</h2>
            </div>
        </div>
    </form>

</div>

{% endblock movie_content %}