{% extends 'movies/movie_layout.html' %}
{% load static %}

{% block my_style %}
<link rel="stylesheet" href="{% static 'movies/css/movie_staff.css' %}">
{% endblock my_style %}

{% block movie_content %}

<div class="staff-jobs-header">
    <div class="job-item">
        <a href="{% url 'movies:staff_of_a_movie_path' movie.slug movie.pk "cast" %}">
            Cast
        </a>
    </div>
    <div class="job-item">
        <a href="{% url 'movies:staff_of_a_movie_path' movie.slug movie.pk "directors" %}">
            Directors
        </a>
    </div>
    <div class="job-item">
        <a href="{% url 'movies:staff_of_a_movie_path' movie.slug movie.pk "created_by" %}">
            Created by
        </a>
    </div>
    <div class="job-item">
        <a href="{% url 'movies:staff_of_a_movie_path' movie.slug movie.pk "script" %}">
            Script
        </a>
    </div>
    <div class="job-item">
        <a href="{% url 'movies:staff_of_a_movie_path' movie.slug movie.pk "producers" %}">
            Producers
        </a>
    </div>
</div>

<div class="staff">
    {% for person in job.0 %}
    <div class="person">
        <img src={{ person.image.url }} alt="" width="110px" >
        <span>
          <a href="{% url 'movie_staff:movie_staff_path' person.slug person.pk job.1 %}">
            {{ person.name }}
          </a>
        </span>
      </div>
    {% endfor %}
</div>

{% endblock movie_content %}