{% extends 'movies/movie_layout.html' %}
{% load static %}

{% block my_style %}
<link rel="stylesheet" href="{% static 'movies/css/show_review_1.css' %}">
{% endblock my_style %}

{% block movie_content %}
    <div class="main-comment-container">
        <div class="username-container">
            <a href="">
                {{ review.user.username }}
            </a>
        </div>
        <div class="review-name-container">
            <h2>
                {{ review.name }}
            </h2>
        </div>
        <div class="review-content-container">
            <div class="paragraph-container">
                <p>
                    {{review.content}}
                </p>

            </div>
        </div>
    </div>
{% endblock movie_content %}