{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './home/css/base_layout.css' %}">
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    
    <header>
        <div class="header-top">
            <div class="logo-container" >
                <img src="{% static './home/images/logo.png' %}" alt="logo" width='140px'>
            </div>

            <div class="search-bar-container">
                <form action="" method="GET">
                    <input name="search-bar" class="search-bar" type="search" placeholder="   search">
                    <span>
                        <input class="search-button" type="submit" value="🔍">
                    </span>    
                </form>
            </div>

            <div class="log-container">
                {% if request.user.is_authenticated %}
                    <a href="#">
                        logout
                    </a>
                {% else %}
                    <a href="#">
                        login
                    </a>
                {% endif %}
            </div>
        </div>
        
        <div class="links-container">
            <div>
                <a href="#">
                    Loved by users
                </a>
            </div>
            <div>
                <a href="#">
                    Companies
                </a>
            </div>
            <div>
                <a href="#">
                    News
                </a>
            </div>
            <div>
                <a href="#">
                    Genre
                </a>
            </div>
            <div>
                <a href="#">
                    Most rated
                </a>
            </div>
        </div>

    </header>
</body>
</html>