.center {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.center .movie-image {
    border: 2px solid black;
    width: 184px;
    height: 263px;
}

.movie-synopsis {
    margin-top: 10px;
    max-width: 800px;
    display: flex;
    align-self: center;
}
.movie-synopsis p {
    margin-left: 10px;
    font-size: 2.1rem;
    font-family: 'Times New Roman', Times, serif;
}

.user-review .icons-and-pages{
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user-review .icons-and-pages .make-review {
    max-width: 55px;
}
.user-review .icons-and-pages .make-review a h2 {
    font-size: 3.8rem;
}
.user-review .icons-and-pages .pages {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.user-review .icons-and-pages .pages button {
    width: 25px;
    margin-left: 5px;
    border-radius: 13px;
}