{% extends '../home/base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'movie_staff/css/movie_staff_2.css' %}">
{% endblock styles %}

{% block content %}
<main>
    <div class="main-container">
        <div class="title">
            <h1>{{ staff.name }}</h1>
        </div>        

        <div class="center">
            <div class="staff-image">
                <img src="{{ staff.image.url }}" alt="" width="150px">
            </div>
            <div class="bio">
                <p>
                    {{ staff.bio }}
                </p>
            </div>
        </div>

        <div class="staff-items">
            {% if has_done_job.cast %}
            <div>
                <a href="{% url 'movie_staff:movie_staff_path' staff.slug staff.pk "cast" %}">
                    Cast
                </a>
            </div>
            {% endif %}
            
            {% if has_done_job.director %}
            <div>
                <a href="{% url 'movie_staff:movie_staff_path' staff.slug staff.pk "cast" %}">
                    Director
                </a>
            </div>
            {% endif %}

            {% if has_done_job.created_by %}
            <div>
                <a href="{% url 'movie_staff:movie_staff_path' staff.slug staff.pk "created_by" %}">
                    Creations
                </a>
            </div>
            {% endif %}

            {% if has_done_job.producer %}
            <div>
                <a href="{% url 'movie_staff:movie_staff_path' staff.slug staff.pk "producer" %}">
                    Producer
                </a>
            </div>            
            {% endif %}

            {% if has_done_job.script %}
            <div>
                <a href="{% url 'movie_staff:movie_staff_path' staff.slug staff.pk "script" %}">
                    Scripts
                </a>
            </div>            
            {% endif %}
        </div>

    </div>
</main>
{% endblock content %}