{% extends '../home/base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'movie_staff/css/movie_staff_2.css' %}">
{% endblock styles %}

{% block content %}
<main>
    <div class="main-container">
        <div class="title">
            <h1>{{ staff.name }}</h1>
        </div>        

        <div class="center">
            <div class="staff-image">
                <img src="{{ staff.image.url }}" alt="" width="150px">
            </div>
            <div class="bio">
                <p>
                    {{ staff.bio }}
                </p>
            </div>
        </div>

        <div class="staff-items">
            <div>
                <a href="">
                    Cast
                </a>
            </div>
            <div>
                <a href="">
                    Director
                </a>
            </div>
            <div>
                <a href="">
                    Creations
                </a>
            </div>
            <div>
                <a href="">
                    Producer
                </a>
            </div>
            <div>
                <a href="">
                    Scripts
                </a>
            </div>
        </div>

    </div>
</main>
{% endblock content %}