{% extends '../home/base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'movie_staff/css/movie_staff.css' %}">
{% endblock styles %}

{% block content %}
<main>
    <div class="main-container">
        <div class="title">
            <h1>name</h1>
        </div>
        
        <div class="movie-header">
            <div class="header-item">
                <a href="">
                    <h3>
                        Info
                    </h3>
                </a>
            </div>
            <div class="header-item">
                <a href="">
                    <h3>
                        Reviews
                    </h3>
                </a>
            </div>
            <div class="header-item">
                <a href="">
                    <h3>
                        Trailers
                    </h3>
                </a>
            </div>
        </div>
        
    </div>
</main>
{% endblock content %}